* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

p,a,li,input,button,h1,h2,h3,h4,h5, option, select{
  font-size: 1.6rem;
}
ul{
  list-style: none;
}

.todoCard{
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0,0,0,0.16);
  max-width: 400px;
  padding: 20px;
  margin: 20px;
}
.todo-card-header{
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.todo-card-header h3{
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.btn{
  padding: 0.5em 0.75em;
  background-color: #004CFF;
  color: #f1f1f1;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 5px;
}

nav{
  background-color: #004CFF;
  padding: 20px;
}
nav ul{
  list-style-type: none;
}
.sub-nav{
  background-color: #F8F9FA;
  padding: 20px;
  color: #333;
  display: flex;
  align-items: center;
}
.sub-nav h2{
  font-weight: 400;
  font-size: 2.25rem;
}
.sub-nav .btn{
  margin-left: 20px;
  font-size: 1.2rem;
}